<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="LessonRepository" value="SQLLessonRepository"/>
    <add key="FileName" value="NORTHWIND-Customers.csv"/>
    <add key="SqlLessonRepoPath" value="E:\Schule\IVDB\SWPM\ViechWH\ntierwh\northwind.mdf"/>
  </appSettings>
</configuration>